
<div class="container">
	<table class="table .table-striped table-bordered">

	    <thead class="thead-light">
	      <tr>
	        <th>Firstname</th>
	        <th>Lastname</th>
	        <th>Email</th>
	        <th>Country</th>
	        <th>City</th>
	        <th>Action</th>
	      </tr>
	    </thead>

	    <tbody>
	      <tr>
	        <td><%= @user.first_name %></td>
	        <td><%= @user.last_name %></td>
	        <td><%= @user.email %></td>
	        <td><%= @country.country_name %></td>
	        <td><%= @city.city_name %></td>
	        <th><%= link_to "Confirm", root_path+'email?id='+@user.id.to_s, :class => "my-class", :id => "my-id" %></th>
	      </tr>
	    
	    </tbody>
	</table>
	<!-- Confirmation Alert After Mail Sent -->
	<div class="<%= "alert alert-success" if @confirmation_alert %>">
		<%= @confirmation_alert if @confirmation_alert %>
	</div>

</div>